/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");

/* --- Components design --- */
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/dropdown.css");
@import url("components/card.css");
@import url("components/badge.css");
@import url("components/banner.css");
@import url("components/tabs.css");
@import url("components/list.css");
@import url("components/epicard.css");



/* style.css */
body {
  background: rgb(245,245,245);
  color: rgb(30, 30, 30);
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(30, 30, 30);
  font-weight: lighter;
  font-size: 40px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(100, 100, 100);
  font-weight: lighter;
  font-size: 25px;
  text-align: center;
}

a {
  color: rgb(20, 20, 20);
}

a:hover {
  text-decoration: none;
  color: skyblue;
}



#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
  text-align: center;
}


#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}



