.banner {
  text-align: center;
  background-image: url("file:///Users/briceroehrig/xbr/images/background1.jpg");
  background-size: cover;
  padding: 300px;
  margin: 0px;
  text-align: center;
}
.banner h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}
.banner p {
  color: white;
  opacity: 1;
  font-size: 30px;
  font-weight: light;
  text-align: center;
  padding-bottom: 50px;
}

